<html><head></head><body><p>This is Result</p>{{range $.Items}}<p>ID: {{.ID}}</p><p>Name: {{.Name}}</p><p>FullName: {{.FullName}}</p><p>URL: <a href="{{.HtmlUrl}}" target="_blank">{{.HtmlUrl}}</a></p>{{end}}</body></html>